
.table .btn.btn-sm {
  margin: 0;
}

#report-type-form {
  .picker-popover {
    position: absolute;
    z-index: 2;
  }
  .picker-cover {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.form-group.required .control-label:after {
  content: " *";
  color: red;
}